body {
    margin: 0;
    min-width: 930px;
}

header
{
    background: #27a7d6;
}

img.logo
{
    display: inline-block;
    width: 150px;
}

#topmenu
{
    margin: 0;
    display: inline-block;
    font-size: 50px;
}

#topmenu li
{
    margin: 0;
    display: inline-block;
}

.chipher-text
{
    width: 45%;
    height: 100px;
    resize: none;
}