body 
{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #111F24;
}

#main
{
    min-width: max-content;
}

header>nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo
{
    display: inline-block;
    width: 200px;
}

#topmenu li
{
    /* height: 60px; */
    margin: 10px;
    /* background-color: #23353b; */
    display: inline-block;
}

#topmenu a
{
    /* padding: 50%; */
    text-decoration: none;
    color: #FAFDFF;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;   */
    font-size: 30px;
}

#wrapper
{
    background-color: rgb(220, 236, 250);
    padding: 20px;
    margin-top: 0px;
}

h4
{
    margin: 0px;
}

.whith-header
{
    margin-top: 0px;
}

/* .align-left-button
{
    display: flex;
    vertical-align: left;
} */

textarea
{
    height: 300px;
    width: 100%;
    resize: none;
}

footer
{
    color: #FAFDFF;
}